<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ripperdesignandmultimedia.phoneblockplugin"
    version="0.4.0">
    
    <name>Phone Block Plugin</name>
    
    <author>Ripper Design and Multimedia</author>
    
    <description>
      This plugin is for the blocking of incoming phonecalls on a mobile when the plguin is active.
      
      This is primarily for road saftey enabling us to block calls when a driver is driving.
    </description>
    
    <license>Apache 2.0</license>
    
    <!-- JavaScript interface -->
    <js-module src="www/phoneblock.js" name="PhoneBlockPlugin" >
        <clobbers target="PhoneBlockPlugin" />
    </js-module>

    <engines>
      <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="PhoneBlock">
                <param name="android-package" value="com.ripperdesignandmultimedia.phoneblockplugin.phoneblock"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- ADD permissions required by the app here using this format
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
            <uses-permission android:name="android.permission.CALL_PHONE" />
            <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
        </config-file>

        <source-file src="src/android/PhoneBlockerPlugin.java" target-dir="src/android/phoneblock" />

        <js-module src="www/phoneblock.js" name="PhoneBlock">
            <clobbers target="PhoneBlock" />
        </js-module>
        
    </platform>
</plugin>
